*{
	box-sizing: border-box;
	font-family: monospace;
	font-style: lucida;
}  
header{	
	display: flex;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0; 
} 
.header{	
	display: flex;
	margin: auto;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	left: 1%;
	right: 1%; 
	width: 90%;
	height: 55px;
	position: absolute; 
	text-align: center;
	background: -webkit-linear-gradient(top, #E2E0E1, rgb(255, 255, 255));
	}
.header h1 {
	color: rgb(1, 11, 17);
	text-shadow: #B1C3DF 0 0.05em 0;
	margin:0px;
	padding-left: 10vw;
	display: flex;
	float:left;
	align-items: center;  
	}
.header:before, .header:after {
	content: '';
	position: absolute;
	bottom: -1em;
	border: 1.5em solid #D8DBE0;
	z-index: -1;
	}
.header:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
	box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
	}
.header:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
	box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
	}
 header .ribbon-content:before, header .ribbon-content:after {
	border-color: #44627A transparent transparent transparent;
	position: absolute;
	border-style: solid;
	bottom: -1em;
	content: '';
	}
.header .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
	}
.header .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
	} 

.headButtons{	
	box-sizing: content-box;
	display: flex;
	margin: auto;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;  
	padding-right: 1.3em; 
	font-size: 18px;		
	width: 30px;
	height: 30px;
	filter: invert(0.3);	
}   
.headButtons:hover {
	filter: invert(0.1);
  }
#mainIcon{
	width: 60px;
	height: 60px; 
}
.searchBy{
	margin-top: 45px;
	margin-left: 10px;
	margin-right: 10px; 
	font-size: 16px;
	display: flex;	
	flex-direction:  row;
	justify-content: center; 
	align-items: center;
	border-radius: 5px;
	background: white;	
	color: gray;
}
.searchBy:hover{
	color: rgba(0, 0, 0, 0.75);
}
.postsFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    align-items: stretch; 
    align-content: center;
	justify-content: center;	
}
.post {
    width: 300px;
    min-height: 300px;
    border: 1px solid silver;
    margin: 10px;
    display: flex;
    align-content: center;
	justify-content: center;
	align-items: stretch; 
    flex-direction: column;	
}
.authorData {
    width: 100%;
    height: auto;
    color: rgb(15, 15, 15);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.imageText {
    width: 100%;
    height: auto;
	justify-content: center;
	font-size: 14px;
	color: rgba(15, 15, 15, 0.47);
    padding: 5px;
    margin: 7px;
}
.holder{    
    height: 300px;
    width: 300px;
	margin: 0 auto;
}
#img1{
	background: url('tree2.jpg') no-repeat center top;
}
#img2{
	background: url('autumn.jpg') no-repeat center top;
}
#img3{
	background: url('castle.jpg') no-repeat center top;
}
#img4{
	background: url('sea.jpg') no-repeat center top;
}
#img5{
	background: url('tree.jpg') no-repeat center top;
}
#img1, #img2, #img3, #img4, #img5{
	background-size: cover;
} 
.likeIcon{
	width: 2em;
	height: 2em;	
}
.likeIcon:hover {
	filter: invert(1);
  }
.editDeleteIcons{
	width: 1em;
	height: 1em;
	float: right;
	margin: 5px;
}
.editDeleteIcons:hover {
	filter: invert(10);
  }
.postData{
    display: none;
    font-size: 30px;
    font-weight: 700;		
    line-height: 300px;
    text-align: center;
}
.holder:hover .postData{
    display: block;
    background: rgba(255, 252, 252, 0.26);
    cursor: pointer;
}
.showMore{
	margin: 0.5em;
	display: flex;	
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: white;	
	font-size: 1.5rem;
	color: gray;
}
.showMore:hover{
	color: rgba(0, 0, 0, 0.75);
	font-size: 1.53rem;
}
 footer{
	background: -webkit-linear-gradient(top, rgb(255, 255, 255),rgb(228, 225, 225));
	border: 0.01em solid gray;
	font-size: 16px;
	width: 100%;
	height: 4em;
	padding-right: 10vw;
	display: flex;
	justify-content: space-between;	
	color: gray;
	left: 0; bottom: 0; 
	position: relative;
}  
@media (max-width: 700px) {
.headButtons{width: 80%; height: 80%; font-size: 0}
.header h1{width: 30%; height: 30%; font-size: 20px}
.searchBy{width: 90%; }
.postsFlex{margin-left: 150px; margin-right: 150px}
.showMore{text-align: center;}
footer{font-size: 10px; width: auto}  
}  

@media (max-width: 830px){
.headButtons{width: 60%; height: 60%}
#mainIcon{width: 100%; height: 100%}
.header h1{width: 30%; height: 30%; font-size: 24px}
footer{font-size: 14px}
} 
@media(max-width:1150px){
	.searchData{width: 20%;}
}